  .wed{
border-radius: 20px;
        background-color: #ffffff;
        padding: 30px;
  margin: 25px;
  width: 310px;
  font-family: fantasy;
}
.thur{    border-radius: 20px;
        background-color: #ffffff;
        padding: 30px;
  margin: 25px;
  width: 310px;
  font-family: fantasy;
.time{  border-radius: 20px;
        background-color: #ffffff;
        padding: 30px;
  margin: 25px;
  width: 310px;
  font-family: fantasy;
