.header{
        text-align: center;
      display:grid;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 70px;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
    color: #000000;

}

